@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header,
section,
footer,
article,
aside,
main,
nav,
figure {
  display: block;
}

.button, .carousel button, .product__contentblack button, .introduce__content button, .new__content--button button, .new__write--seeall button, .contact__content--button button {
  border: 1px solid #464646;
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  position: relative;
  margin: 2rem 0rem;
  padding: 0.9rem 2.7rem;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 0;
  font-weight: 300;
}

.button::before, .carousel button::before, .product__contentblack button::before, .introduce__content button::before, .new__content--button button::before, .new__write--seeall button::before, .contact__content--button button::before {
  content: " ";
  width: 0rem;
  height: 100%;
  position: absolute;
  background: #181818;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  bottom: -10px;
  left: -20%;
  -webkit-transform: skewX(40deg);
          transform: skewX(40deg);
  z-index: -1;
}

.button:hover, .carousel button:hover, .product__contentblack button:hover, .introduce__content button:hover, .new__content--button button:hover, .new__write--seeall button:hover, .contact__content--button button:hover {
  border: 1px solid #181818;
  background-color: transparent;
  color: #fff;
}

.button:hover::before, .carousel button:hover::before, .product__contentblack button:hover::before, .introduce__content button:hover::before, .new__content--button button:hover::before, .new__write--seeall button:hover::before, .contact__content--button button:hover::before {
  width: 140%;
  height: 5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hexagon_button .frame, .service__content .hexa_button_left .frame, .service__content .hexa_button_right .frame, .washing_content .hexa_button .frame {
  margin: 2rem;
  position: relative;
  cursor: pointer;
}

.hexagon_button .frame:hover .hex-inner, .service__content .hexa_button_left .frame:hover .hex-inner, .service__content .hexa_button_right .frame:hover .hex-inner, .washing_content .hexa_button .frame:hover .hex-inner {
  background-color: #fff;
}

.hexagon_button .frame:hover .label, .service__content .hexa_button_left .frame:hover .label, .service__content .hexa_button_right .frame:hover .label, .washing_content .hexa_button .frame:hover .label {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: black;
}

.hexagon_button .frame .hex-outer, .service__content .hexa_button_left .frame .hex-outer, .service__content .hexa_button_right .frame .hex-outer, .washing_content .hexa_button .frame .hex-outer {
  background: transparent;
  width: 3.5rem;
  height: 2rem;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
}

.hexagon_button .frame .hex-inner, .service__content .hexa_button_left .frame .hex-inner, .service__content .hexa_button_right .frame .hex-inner, .washing_content .hexa_button .frame .hex-inner {
  background: transparent;
  width: 3.5rem;
  height: 2rem;
  position: absolute;
}

.hexagon_button .frame .h2, .service__content .hexa_button_left .frame .h2, .service__content .hexa_button_right .frame .h2, .washing_content .hexa_button .frame .h2 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.hexagon_button .frame .h3, .service__content .hexa_button_left .frame .h3, .service__content .hexa_button_right .frame .h3, .washing_content .hexa_button .frame .h3 {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.header .header__body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.8rem 3rem;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1rem;
}

.header .header__body .header__left img {
  width: 85%;
  height: 85%;
}

.header .header__body .header__left ul li:nth-child(2):hover::before, .header .header__body .header__left ul li:nth-child(3):hover::before, .header .header__body .header__left ul li:nth-child(4):hover::before, .header .header__body .header__left ul li:nth-child(5):hover::before {
  width: 110%;
  height: 10%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .header__body .header__right ul li:first-child:hover::before, .header .header__body .header__right ul li:nth-child(2):hover::before, .header .header__body .header__right ul li:nth-child(3):hover::before {
  width: 110%;
  height: 10%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .header__body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .header__body ul li {
  position: relative;
  color: #fff;
  list-style: none;
  margin-right: 1.8rem;
  display: inline;
}

.header .header__body ul li a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.header .header__body ul li::before {
  content: " ";
  width: 0rem;
  height: 10%;
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, color-stop(40%, #64acff), color-stop(50%, #3b6aee), color-stop(10%, #d9352b));
  background: linear-gradient(-90deg, #64acff 40%, #3b6aee 50%, #d9352b 10%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  bottom: -18px;
  left: -5px;
}

.carousel {
  position: relative;
}

.carousel video {
  width: 100%;
  height: 100%;
}

.carousel .carousel__content {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 50%;
  height: 100%;
  padding: 6rem 6rem;
  background-color: transparent;
}

.carousel .carousel__content h1 {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
}

.service .service__content {
  position: relative;
  height: 40rem;
}

.service .service__content img {
  width: 100%;
  height: 40rem;
}

.service .service__content .image1 {
  -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 47% 100%);
          clip-path: polygon(60% 0, 100% 0, 100% 100%, 47% 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service .service__content .image2 {
  -webkit-clip-path: none;
          clip-path: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -40%;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service .service__content .image3 {
  -webkit-clip-path: polygon(58% 0, 95% 0, 80% 100%, 57% 100%);
          clip-path: polygon(58% 0, 95% 0, 80% 100%, 57% 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -65%;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service .service__content .service__button {
  -webkit-clip-path: polygon(0 0%, 60.1% 0, 47% 100%, 0% 100%);
          clip-path: polygon(0 0%, 60.1% 0, 47% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 6rem;
  background-color: #000000bb;
}

.service .service__content .service__button .service__button--detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.service .service__content .service__button h2 {
  font-size: 2rem;
  color: #fff;
}

.service .service__content .service__button .service__button--title {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  margin-top: 7rem;
}

/* START PRODUCT  */
.product {
  background-color: #fff;
  height: 40rem;
  z-index: 0;
  position: relative;
}

.product__contentbehigh {
  width: 100%;
  height: 100%;
  padding: 7rem 0rem;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.product__contentbehigh h1 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 13rem;
  color: #ebebe6;
  text-transform: uppercase;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding: 0rem 0rem;
  background-color: transparent;
}

.product__image {
  padding-top: 7rem;
  z-index: 1;
  width: 100%;
  height: 80%;
}

.product__image img {
  bottom: 0px;
}

.product__contentblack {
  z-index: 1;
  width: 100%;
  padding-left: 4rem;
}

.product__contentblack p {
  font-size: 3rem;
  font-weight: bold;
}

.product__contentblack h1 {
  font-size: 4.7rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.product__contentblack--bot {
  height: 100%;
  z-index: 0;
}

.product__contentblack--bot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0rem;
}

.product__contentblack--bot ul li {
  text-decoration: none;
  list-style: none;
  width: 100%;
  position: relative;
  margin: 0.6rem 0rem;
}

.product__contentblack--bot ul li::before {
  content: " ";
  width: 0rem;
  height: 10%;
  position: absolute;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  bottom: -140%;
  left: 0px;
}

.product__contentblack--bot ul li:hover::before {
  width: 100%;
  height: 10%;
  padding: none none;
  background-color: black;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* END PRODUCT  */
/* START FOOTER  */
.footer {
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer__left {
  width: 70%;
}

.footer__left--list,
.footer__left--content,
.footer__right {
  margin: 3rem 3rem;
}

.footer__left--list ul {
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer__left--list ul li {
  list-style: none;
  margin-right: 20px;
  line-height: 1.5rem;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__right i {
  margin-left: 20px;
}

.footer__right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left--content {
  text-align: left;
}

/* END FOOTER  */
.carousel button {
  color: #fff;
  border: 1px solid white;
}

.carousel button::before {
  background-color: #dc3545;
}

.carousel button:hover {
  border: 1px solid #dc3545;
  background-color: transparent;
  color: #fff;
}

.new__content--button button {
  margin-bottom: 0rem;
}

.contact__content--button button {
  color: #fff;
  border: 1px solid white;
}

.contact__content--button button::before {
  background-color: #dc3545;
}

.contact__content--button button:hover {
  border: 1px solid #dc3545;
  background-color: transparent;
  color: #fff;
}

.service__content .hexa_button_left .label {
  position: absolute;
  top: 5px;
  left: 21px;
  z-index: none;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service__content .hexa_button_right .label {
  position: absolute;
  top: 5px;
  left: 25px;
  z-index: none;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.washing_content .hexa_button .label {
  position: absolute;
  top: 5px;
  left: 25px;
  z-index: none;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.introduce {
  position: relative;
}

.introduce__content {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40%;
  padding: 0px 30px;
  line-height: 1.7rem;
}

.introduce__content h1 {
  font-size: 2.1rem;
  line-height: 3rem;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* START CONTACT  */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content {
  position: relative;
}

.contact__content--detail {
  padding: 10rem 3rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
  color: white;
}

.contact__content h1 {
  padding-bottom: 1rem;
}

/* END CONTACT  */
/* START NEW  */
.new {
  padding: 3rem;
}

.new__title h1 {
  font-size: 5rem;
  padding: 2rem 3.5rem;
}

.new__write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 2rem;
}

.new__content {
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.new__image img {
  width: 508px;
  height: 100%;
  margin: 0rem 2rem;
}

.new__content--title {
  font-size: 1.3rem;
  letter-spacing: 0.0064rem;
  margin-top: 1.5rem;
}

.new__write--seeall {
  text-align: center;
}

/* END NEW  */
/* START WASHING  */
.washing__body {
  position: relative;
}

.washing__image img {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}

.washing_content {
  position: absolute;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 6rem;
}

.washing_content h1 {
  font-size: 40px;
  text-transform: uppercase;
}

/* END WASHING  */
