/* START CONTACT  */
.contact {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.contact__content {
    position: relative;
}

.contact__content--detail {
    padding: 10rem 3rem;
    line-height: 1.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.692);
    width: 100%;
    height: 100%;
    color: white;
}

.contact__content h1 {
    padding-bottom: 1rem;
}




/* END CONTACT  */