.introduce {
    position: relative;
}

.introduce__img img {}

.introduce__content {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40%;
    padding: 0px 30px;
    line-height: 1.7rem;
}

.introduce__content h1 {
    font-size: 2.1rem;
    line-height: 3rem;
    padding-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}