/* START WASHING  */
.washing__body {
    position: relative;
}

.washing__image img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}

.washing_content {
    position: absolute;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 6rem;

}

.washing_content h1 {
    font-size: 40px;
    text-transform: uppercase;
}

/* END WASHING  */