.carousel {
    position: $position-1;

    video {
        width: $width-0;
        height: $height-0;

    }

    .carousel__content {
        @include positionLayout($position-2, $top-1, $left-1, $z-index3);
        @include pageLayout($width-0+-50, $height-0, $pd-3+1, $pd-3+1, $color-trans);

        h1 {
            color: rgb(255, 255, 255);
            font-size: 5rem;
            text-transform: uppercase;
        }
    }
}