/* START FOOTER  */
.footer {
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;

}

.footer__left {
    width: 70%;
}

.footer__left--list,
.footer__left--content,
.footer__right {
    margin: 3rem 3rem;

}

.footer__left--list ul {
    text-align: left;
    justify-content: left;
}

.footer__left--list ul li {
    list-style: none;
    margin-right: 20px;
    line-height: 1.5rem;
    display: inline;
    align-items: center;
}

.footer__right i {
    margin-left: 20px;
}

.footer__right {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer__left--content {
    text-align: left;
}

/* END FOOTER  */