.header {
    .header__body {
        position: $position-1;
        @include pageLayout($width-0, $height-0, $pd-1+-0.2, $pd-1+2, $color_black2);
        @include Layout($display-flex, $justify3, $aligh-item5, $text-aligh1);
        font-size: $font-size1+1;

        .header__left {
            img {
                width: $width-0+-15;
                height: $height-0+-15;
            }

            ul {
                li {

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        &:hover::before {
                            width: $width-0+10;
                            height: $height-0+-90;
                            transition: $transition-1;
                        }
                    }
                }
            }

        }

        .header__right {
            ul {
                li {

                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                        &:hover::before {
                            width: $width-0+10;
                            height: $height-0+-90;
                            transition: $transition-1;
                        }
                    }
                }
            }
        }

        ul {
            @include Layout($display-flex, $justify3, $aligh-item5, $text-aligh1);

            li {
                position: $position-1;
                color: $color_white1;
                list-style: $list-style_none;
                margin-right: $mg-1+0.8;
                display: $display-inline;

                a {
                    font-weight: $fw-normal;
                    text-decoration: none;
                    color: $color_white1;
                }

                &::before {
                    @include before(" ", $width-nomal, $height-0+-90, $position-2, $color_gradian, $transition-1, $bottom-1+-18, $left-1+-5);
                }

            }


        }
    }




}