/* START PRODUCT  */
.product {
    background-color: $color_white1;
    height: $height-4+20;
    z-index: $z-index2;
    position: $position-1;
}

.product__contentbehigh {
    @include pageLayout($width-0, $height-0, $pd-4, $pd-0, $color-trans);
    @include positionLayout($position-2, $top-1, $left-1, $z-index1);
}

.product__contentbehigh h1 {
    @include Layout($display-block, $justify1, $aligh-item1, $text-aligh1);
    font-size: $font-size5+4;
    color: $color_white2;
    text-transform: $text-transform-1;
}

.product__content {
    @include Layout($display-flex, $justify1, $aligh-item1, $text-aligh2);
    @include positionLayout($position-2, $top-1, $left-1, $z-index2);
    @include pageLayout($width-0, $height-0, $pd-0, $pd-0, $color-trans);
}

.product__image {
    padding-top: $pd-4;
    z-index: $z-index3;
    width: $width-0;
    height: $width-0+-20;
}

.product__image img {
    bottom: $bottom-1;
}

.product__contentblack {
    z-index: $z-index3;
    width: $width-0;
    padding-left: $pd-2+1;
}

.product__contentblack p {
    font-size: $font-size2;
    font-weight: $fw-bold;
}

.product__contentblack h1 {
    font-size: $font-size3+-0.3;
    text-transform: $text-transform-1;
    letter-spacing: -1px;
}

.product__contentblack--bot {
    height: $height-0;
    z-index: $z-index2;

}

.product__contentblack--bot ul {
    display: $display-flex;
    padding: $pd-1 $pd-0;
}

.product__contentblack--bot ul li {
    text-decoration: $text-decoration_none;
    list-style: $list-style_none;
    width: $width-0;
    position: $position-1;
    margin: $mg-0+0.6 $mg-0;
}

.product__contentblack--bot ul li::before {
    @include before(" ", $width-nomal, $height-0+-90, $position-2, $color-trans, $transition-1, $bottom-5+-40, $left-1);
}

.product__contentblack--bot ul li:hover::before {
    @include pageLayout($width-0, $height-0+-90, none, none, $color_black1);
    transition: 0.3s all ease;
}



/* END PRODUCT  */