.service {

    .service__content {
        position: $position-1;
        height: $height-4+20;

        img {
            width: $width-0;
            height: $height-4+20;
        }

        .image1 {
            @include shape(polygon(60% 0, 100% 0, 100% 100%, 47% 100%), $width-0, $height-0);
            @include positionLayout($position-2, $top-1, $left-1, $z-index2);
            transition: $transition-1;
        }

        .image2 {
            @include shape(none, $width-0, $height-0);
            @include positionLayout($position-2, $top-1, $left-5+-20, $z-index1);
            transition: $transition-1;
        }

        .image3 {
            @include shape(polygon(58% 0, 95% 0, 80% 100%, 57% 100%), $width-0, $height-0);
            @include positionLayout($position-2, $top-1, $left-5+-45, $z-index1);
            transition: $transition-1;
        }

        .service__button {
            @include shape(polygon(0 0%, 60.1% 0, 47% 100%, 0% 100%), $width-0, $height-0);
            @include positionLayout($position-2, $top-1, $left-1, $z-index3);
            padding: $pd-3+1;
            background-color: #000000bb;

            .service__button--detail {
                @include Layout($display-flex, $justify5, $aligh-item1, $text-aligh1);
            }

            h2 {
                font-size: $font-size1+2;
                color: $color_white1;
            }

            .service__button--title {
                font-size: $font-size2+1;
                color: $color_white1;
                position: $position-2;
                margin-top: $mg-4;
            }
        }



    }
}