.carousel button {
    @extend .button;
    color: $color_white1;
    border: 1px solid white;

    &::before {
        background-color: $color_red2;
    }

    &:hover {
        @include HoverButton($color_red2, $color-trans, $color_white1);
    }
}

.product__contentblack button {
    @extend .button;
}

.introduce__content button {
    @extend .button;
}

.new__content--button button {
    @extend .button;
    margin-bottom: $mg-0;
}

.new__write--seeall button {
    @extend .button;

}

.contact__content--button button {
    @extend .button;
    color: $color_white1;
    border: 1px solid white;

    &::before {
        background-color: $color_red2;
    }

    &:hover {
        @include HoverButton($color_red2, $color-trans, $color_white1);

    }
}

.service__content .hexa_button_left {
    @extend .hexagon_button;

    .label {
        @include positionLayout($position-2, $top-1+5, $left-1+21, none);
        color: $color_white1;
        font-size: $font-size1+1.2;
        transition: $transition-1;
    }
}

.service__content .hexa_button_right {
    @extend .hexagon_button;

    .label {
        @include positionLayout($position-2, $top-1+5, $left-1+25, none);
        color: $color_white1;
        font-size: $font-size1+1.2;
        transition: $transition-1;
    }
}

.washing_content .hexa_button {
    @extend .hexagon_button;

    .label {
        @include positionLayout($position-2, $top-1+5, $left-1+25, none);
        color: $color_white1;
        font-size: $font-size1+1.2;
        transition: $transition-1;
    }

}